<div class="main-view-container" ui-view></div>

<h1>Movies</h1>

<% @movies.each do |movie| %>
  <%= movie.display_title %><br>
  <%= movie.summary_short %><br>
  <%= movie.opening_date %><br><br>
<%end%>