<h1>{{article.data.value.data.title}}</h1>
<div>
  <p>Abstract: {{article.data.value.data.abstract}}</p>
  <p>Byline: {{article.data.value.data.byline}}</p>
  <p>Section: {{article.data.value.data.section}}</p>
  <p>Date Published: {{article.data.value.data.published_date}}</p>
  <p>Other categories: {{article.data.value.data.material_type_facet}}</p>
  <p><a href="{{article.data.value.data.url}}">{{article.data.value.data.url}}</a></p>
</div>

<a href="#" ng-click="article.bookmarkArticle()">Bookmark this article</a>

<p>What do you think about this article? Tell us in the comments below:</p>
<form name="form" ng-submit="article.submitComment()">
  <textarea name="commentContent" required="required" ng-model="article.commentContent"></textarea><br>
  <div ng-if="form.commentContent.$touched && form.commentContent.$error.required">
        Comment must be filled out! 
  </div>
  <input type="submit">
</form>

<div ng-repeat="comment in article.data.value.data.comments">
  <p>{{comment.content}}</p>
</div>