<br>
<p>{{book.delete_message}}</p>

<a class="btn btn-primary" ui-sref="edit-book({id: book.data.value.data.id})">Edit</a>
<a class="btn btn-primary" href="#" ng-click="book.deleteBook()">Delete</a>

<h1>{{book.data.value.data.title}}</h1>
<img src={{book.data.value.data.image}}><br><br><br>
<div>
  <p>Description: {{book.data.value.data.description}}</p>
  <p>Publisher: {{book.data.value.data.publisher}}</p>
  <p>Author: {{book.data.value.data.author}}</p>
  <p>Contributor: {{book.data.value.data.contributor}}</p>
  <p>Price: {{book.data.value.data.price}}</p>
  <p>Weeks on list: {{book.data.value.data.weeks_on_list}}</p>
  <p>Published date: {{book.data.value.data.published_date}}</p>
</div>
<br>
<a class="btn btn-info" href="#" ng-click="book.bookmarkBook()">Bookmark this book</a><br><br><br>
<br><br>

<review-form controller-name="BookController"></review-form>

<br><br>
  <div class="review" ng-repeat="review in book.data.value.data.book_reviews">
      <p>I can be anything</p>
      <br>
      {{review.user.name}}<br>
      <p class="rating">{{review.rating}} stars</p>
      {{review.content}}<br>
  </div>
<br><br>